header {
    /* border: 1px solid; */
    margin: 0 auto;
    padding: 1rem 0;



    display: flex;
    align-items: center;
    justify-content: space-between;
}


header img {
    width: 8rem;
}


nav { display: none;}
header button { display: none;}



.MenuBtns {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    color: var(--black);
}




.menuClose { display: none;}